spacy
pdfplumber
sumy
reportlab
google-generativeai
langchain
langchain-community
langchain-openai
langchain_google_genai
pypdf
pdf2image 
pytesseract 
Pillow
streamlit
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.0/en_core_web_sm-3.7.0-py3-none-any.whl
